* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans';
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 100px;
    background: #fff;
    align-items: center;
}
.logo {
    font-size: 28px;
    padding-left: 100px;
    color: #EC4067;
    font-weight: bold;
}
.logo span {
    color: #000;
}

.nav {
    display: flex;
    gap: 60px;
    padding-right: 60px;
}

ul{
    text-decoration: none;
    display: flex;
    padding-right: 80px;
    list-style: none;
}
ul li a {
    text-decoration: none;
    padding: 0px 15px 0px 20px;
}

.firstbtn {
    padding-right: 60px;
}
.enroll {
    background: #EC4067;
    padding: 8px 23px 8px 23px;
    border-radius: 9px;
    color: #fff;
}

.talent img {
    width: 450px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
}
.head {
    margin-right: 100px;
}
.head p {
    font-size: 18px;
}
.head h1 {
    font-size: 30px;
    color: #EC4067;
    font-weight: lighter;
}

button.activate {
    padding: 7px 18px 7px 20px;
    border-radius: 5px;
    background: #EC4067;
    color: #fff;
    border: transparent;
    font-size: 16px;
}

.butons {
    display: flex;
    gap: 20px;
}

.explore {
    padding: 7px 30px 7px 30px;
    border-radius: 2px;
    background: #fff;
    color: #EC4067;
    border: 1px solid #EC4067;
    font-size: 16px;
}

.overlay img  {
    width: 500px;
    margin-left: 100px;
}

.orientation {
    display: flex;
    height: 550px;
    align-items: center;
    justify-content: space-around
}
.orientaionday {
    padding-right: 180px;
    font-size: 18px;
}

.orientation h3 {
    padding-left: 100px;
    font-weight: lighter;

}

.overlay{
    position: relative;
    text-align: center;
    color: white;
  }
  
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 110px;
    
}

.board {
    display: flex;
    height: 550px;
    align-items: center;
    justify-content: space-around
}

.boardtext {
    padding-left: 80px;
    font-size: 18px;
}


.boardimages {
    position: relative;
    text-align: center;
    color: white
}


.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }

.boardimages img  {
    width: 500px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}
